<section class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
  <h1 class="title">All Users</h1>
   <% @users.sort_by(&:full_name).each do |user| %>

    <div class="box is-flex is-align-items-center is-justify-content-space-between user__card">
      <a href="<%= user_path(user) %>">
        <div class="is-flex is-align-items-center">
          <%= image_tag user.avatar_url || asset_path('default_avatar.png'), class: 'avatar__image--comment mr-3 all__users' %>
          <%= user.full_name %>
        </div>
      </a>
      <div>
        <% if current_user == user %>
          <%= button_to 'Profile', user_path(current_user), method: :get, class: 'button is-info is-small' %>
        <% else %>
          <%= render partial: 'users/follow_buttons', locals: { user: user } %>      
        <% end %>
      </div>
    </div>
    
  <% end %>
</section>