<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new__post__form">
      
    <%= form.label :body, 'Body', class: "new__post__body__label" %>
    <%= form.text_field :body, class: "new__post__body__input" %>
   
    <%= form.submit class: "new__post__button" %>
  </div>
<% end %>
