<div class="box">
  
  <%= form_with(model: @post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red"> 
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="new__post__form container is-flex-direction-row">
      <h1 class="title is-3 mb-2 is-italic">New post</h1>
      <p class="is-size-7 mb-4">Keep it concise. You only have 100 characters!</p>
      <div class="mb-2">
        <%= form.label :body, hidden: true %>
        <%= form.text_area :body, class: "textarea mb-1 p-3", rows: "2"  %>
      </div>
  
      <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center" >
        <div><%= form.submit class: "new__post__button button is-link" %></div>
        <div><%= link_to "Back to posts", posts_path %></div>
      </div>
    </div>
  <% end %>
</div>
