<section class="section">
  <%= render @post %>
    <div class="container is-flex is-justify-content-center	">
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= link_to "Back to posts", posts_path %> |
      <%= link_to "Delete", url_for(action: :destroy), data: {turbo_method: :delete, turbo_confirm: "Are you sure? "} %>
    </div>

     <div class="box">
      <% if @post.comments.present? %>
        <% @post.comments.each do |comment| %>
          <% if comment.user %>
            <div class="is-flex is-justify-content-left is-align-items-center">
              <img src="<%= comment.user.avatar_url %>" alt="avatar" class="avatar__image--comment mr-4">
              <p class='is-size-7'><%= comment.user.full_name %></p>
            </div>       
          <% end %>
           <p><%= comment.body %></p>
        <% end %>
      <% else %>
        <p>No comments yet. Be the first to comment!</p>
      <% end %>
    </div>

<%# Comment Section %>
  <div>
    <% if @post && @comment %>
      <%= form_with model: [@post, @comment], local: true do |form| %>
        <%= form.label :body, hidden: true %>
        <%= form.text_area :body, class: "textarea mb-1 p-3", rows: "2"  %>

        <%= form.submit "Add Comment" %>
      <% end %>
    <% else %>
      <p>Post or comment not available.</p>
    <% end %>
</section>
