<p style="color: green"><%= notice %></p>


<section class="section">
  <%= render @post %>
    <div class="container is-flex is-justify-content-center	">
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= link_to "Back to posts", posts_path %> |
      <%= link_to "Destroy this post", @post, method: :delete %>
    </div>
</section>
