<section class="section">
 
  <div class="show__post__container">
    <%= render @post %>
    
    <div class="container is-flex is-justify-content-center	">
    
      <% if current_user == @post.user %>
        <p><%= link_to "Edit this post", edit_post_path(@post), class: "mr-2" %>|</p>
        <p><%= link_to "Delete", url_for(action: :destroy), data: {turbo_method: :delete, turbo_confirm: "Are you sure? "}, class: "ml-2" %></p>
      <% end %>
    
    
    </div>
  </div>

<%# Comments Show Section %>
<% if @post.comments.exists? %>
  <div class="section">
      <h2 class="title is-4">Comments</h2>
      <div class="box">
        

        <% @post.comments.each do |comment| %>
          <% if comment.user %>
    
          <article class="media" id="comment_<%= comment.id %>">
            <figure class="media-left">
              <p class="image is-64x64">
                <%= image_tag comment.user.avatar_url, class: 'avatar__image--comment' %>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= comment.user.full_name%></strong> <small><%= time_ago_in_words(comment.created_at) %></small>
                  <br />
                  <%= comment.body %>
                </p>
              </div>

               <% if current_user == comment.user %>
                <div class="is-flex is-size-7">
                  <p>  <%= link_to "Delete", post_comment_path(@post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
                  </p>
                </div>
              <% end %>
    
            </div>
          </article>
          <% end %>
        <% end %>

    
    </div>

  </div>
 <% end %>



<%# Comment Form Section %>
<div class="comment__form__container">
  <div class="section">
    <% if @post && @comment %>
      <%= form_with model: [@post, @comment], local: true do |form| %>
        <article class="media">
          <figure class="media-left">
            <%= image_tag current_user.avatar_url, class: 'avatar__image' %>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <%= form.label :body, hidden: true %>
                <%= form.text_area :body, class: "textarea", required: true %>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <%= form.submit "Add Comment", class: 'button is-link' %>
                </div>
              </div>
            </nav>
          </div>
        </article>
      <% end %>
    <% else %>
      <%= render flash[:alert] = "Gotta say something" %>
    <% end %>
  </div>
</div>

</section>
