<!DOCTYPE html>
<html lang="en" data-theme="light" >
    <title><%= content_for(:title) || "Line Of Thought" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Questrial:regular" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5c575ba63c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# <link rel="manifest" href="/manifest.json"> %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    
    <%= stylesheet_link_tag 'custom', media: 'all' %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
      <section class="section main__section">
        <p class="flash-message notice has-text-success"><%= notice %></p>
        <p class="flash-message alert has-text-danger"><%= alert %></p>
        <%= render '/shared/header' %>
        <%= yield %>
      </section>
  </body>
</html>